body {
  font-family: "Mulish", sans-serif;
  color: #222;
  background: #fff;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

header {
  padding: 32px 0 0 0;
}
header nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
header nav .navbar #logo svg {
  height: 24px;
}
header nav .navbar .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav .navbar .links ul li a {
  color: #222;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

.topcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 1200px;
  margin: 64px auto 0 auto;
  gap: 80px;
}
@media (max-width: 900px) {
  .topcontainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
}
.topcontainer .leftalign {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
.topcontainer .leftalign h1 {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 24px;
  line-height: 1.2;
}
.topcontainer .leftalign p {
  font-size: 1rem;
  color: #444;
  line-height: 1.6;
}
.topcontainer .rightalign {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  background: #fff;
  border-radius: 12px;
  padding: 40px 32px;
  min-width: 320px;
  max-width: 400px;
}
.topcontainer .rightalign .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.topcontainer .rightalign .form .headlines {
  margin-bottom: 4px;
}
.topcontainer .rightalign .form .headlines .label {
  font-size: 0.95rem;
  color: #888;
  font-weight: 600;
}
.topcontainer .rightalign .form .input-field {
  width: 100%;
  padding: 12px 14px;
  border: none;
  border-bottom: 1px solid #373737;
  background: #ffffff;
  font-size: 1rem;
}
.topcontainer .rightalign .form .button {
  background: #4a4ff2;
  color: #fff;
  border: none;
  padding: 12px 32px;
  border-radius: 0px;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 12px;
}

.map-section {
  margin: 64px auto 0 auto;
  max-width: 1200px;
}
.map-section iframe {
  width: 100%;
  height: 320px;
  border: none;
}

footer {
  margin-top: 64px;
  padding: 32px 0 16px 0;
  background: #fff;
  border-top: 1px solid #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
footer .logo svg {
  height: 24px;
}
footer .footer-links,
footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
footer .footer-links a,
footer .social a {
  color: #222;
  font-size: 16px;
  text-decoration: none;
}
footer .social a {
  font-size: 18px;
}