.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    footer {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        }