@import 'navigation';

$myFont: Mulish, sans-serif;
$myColor: rgb(0, 107, 195);
$myFontSize: 18px;

body {
    // display: flex;
    // justify-content: center;
  font-family: $myFont;
padding: 5%;  font-size: $myFontSize(50px);
//   color: $myColor;
}

// h1 {
//     font-size: 40px;
//     font-weight: 500px;
// }

// h2 {
//     font-size: 22px;
//     font-weight: 700px;
// }

// h3 {
//     font-size: $myfontsize;
//     font-weight: 700px;
// }

a {
    font-size: 22px;
}

.italic {
    font-style: italic;
    color: gray;
}

// .navbar {
// display: flex;
// align-items: center;
// justify-content: center;
// }

// footer {
//     width: 90%;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     }

.headline {
    margin-top: 30px;
    margin-bottom: 60px;
    display: flex;
    background-color: rgb(54, 82, 174);
}


.links, a:link, a:visited {
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    &:hover {
        color: rgb(0, 146, 137);
      }

  }

  .links {
    margin-left: auto;
  }
  
  .main_container {
    background-color: rgb(147, 55, 187);
    display: block;
    justify-content: center;
    align-items: start;    
    min-width: none;
    max-width: 80%;
  }


//   .secondcontainer {
//     display: grid;
//     background-color: rgb(93, 187, 181);
//     // width: 80%;
//     margin: 50px;
//     grid-template-columns: 3fr 1fr 2fr;
//     grid-template-rows: 1fr 1fr;
//   }


//   I tried to color the span part of the text purple, but as soon as i add this, the code BREAKS
// .purple {
//     color: $myColor;
// }


// .main_container {
// display: grid;
// grid-template-columns: repeat(10, 1fr);
// grid-template-rows: repeat(32, 1fr);
// // grid-auto-flow: column;
// grid-gap: 15px;
// max-width: 90%;
// // overflow: hidden;
// min-width: 0;
// min-height: 0;
// width: 1110px;
// height: 1960px;
// background-color: rgb(39, 147, 159);
// }

// .grid-item img {
//     max-width: 100%;
//     height: auto;
//     display: block;
// }

// .headline__left {
//     flex: 40%;
//     max-width: 200px;
//     padding-right: 20px;
// }

// .headline__right {
//     display: flex;
//     align-content: baseline;
//    justify-content: end;
//     // margin-right: auto;
// }

// .main_container {
//     display: flex;
//     flex-direction: row;
//     align-content: baseline;
  
// }
  
//   .row {
//     display: flex;
//     flex-wrap: wrap;
//     padding: 0 4px;
  
//     .column {
//       flex: 33%;
//       max-width: 33%;
//       min-width: 33%;
//       padding: 0 4px;
//     }
  
//     .column img {
//       margin-top: 8px;
//       vertical-align: center;
//     }
  
//   image {
//     width:100%"
//   }


// // .image_1 {
// // grid-area: 1/1/8/4;
// // width: 100%;

// // }

// // .image_2 {
// // grid-area: 8/1/16/4;
// // width: 100%;

// // }

// // .image_3 {
// // grid-area: 16/1/23/4;
// // min-width: 0;

// // }


// // .image_4 {
// // grid-area: 1/1/1/4;
// // min-width: 0;

// // }

// // .image_5 {
// // grid-area: 1/4/7/7;
// // min-width: 0;

// // }

// // .image_6 {
// // grid-area: 1/4/1/7;
// // }

// // .image_7 {
// // grid-area: 1/4/1/7;
// // }

// // .image_8 {
// // grid-area: 1/4/1/7;
// // }

// // .image_9 {
// // grid-area: 1/7/1/10;
// // }

// // .image_10 {
// // grid-area: 1/7/1/10;
// // }

// // .image_11 {
// // grid-area: 1/7/1/10;
// // }

// // .image_12 {
// // grid-area: 1/7/1/10;
// // }