.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body {
  font-family: Mulish, sans-serif;
  padding: 5%;
  font-size: 18px 50px;
}

a {
  font-size: 22px;
}

.italic {
  font-style: italic;
  color: gray;
}

.headline {
  margin-top: 30px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgb(54, 82, 174);
}

.links, a:link, a:visited {
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.links:hover, a:link:hover, a:visited:hover {
  color: rgb(0, 146, 137);
}

.links {
  margin-left: auto;
}

.main_container {
  background-color: rgb(147, 55, 187);
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  min-width: none;
  max-width: 80%;
}