@import 'navigation';

$myFont: Mulish, sans-serif;
$myColor: rgb(0, 107, 195);
$myFontSize: 18px;

body {
  font-family: $myFont;
padding: 5%;  font-size: $myFontSize(50px);
}

// h1 {
//     font-size: 40px;
//     font-weight: 500px;
// }



// h3 {
//     font-size: $myfontsize;
//     font-weight: 700px;
// }

// a {
//     font-size: 22px;
// }

// .firstcontainer {
//   font-size: $myFontSize;
//   display: grid;
//   background-color: rgb(255, 255, 255);
//   width: auto;
//   height: auto;
//   grid-template-columns: repeat (3, 1fr);
//   grid-template-rows: repeat (12,1fr);
//   column-gap: 150px;
//   margin-bottom: 40px;
// }

// // .rightalign {
// //   grid-column: 3/4;
// //   grid-row: 1/12;
// // }

// // .emptyfiller {
// //   grid-column: 2/3;
// //   grid-row: 1/12;
// // }

// // .leftalign {
// //   grid-column: 1/2;
// //   grid-row: 1/12;
  
// // }

// .project_container {
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   grid-template-rows: repeat(7, 1fr);
//   grid-gap: 15px;

//   min-width: 0;
//   min-height: 0;
//   width: 90%;
// min-height: auto;
//   background-color: rgb(255, 255, 255);
//   }

//   .image_2_1 {
// grid-column: 1/3;
// grid-row: 1/4;
//   }

//   .midtext {
// grid-column: 1/3;
// grid-row: 4/5;
//   }

//   .image_2_2 {
//     grid-column: 1/3;
//     grid-row: 4/7;
//       }

//       .image_2_3 {
//         grid-column: 1/3;
//         grid-row: 4/7;
//           }
        
//           .image_2_4 {
//             grid-column: 1/3;
//             grid-row: 4/7;
//               }
            
  

// .navbar {
//   width: 100;
//     display: flex;
//     background-color: rgb(255, 91, 91);
//     align-items: center;
//     justify-content: space-between;
//     margin-bottom: 50px;
// }

// footer {
//     width: 90%;
//     display: flex;
//     background-color: rgb(255, 255, 255);
//     align-items: center;
//     justify-content: space-between;
//     }



// some of this part w & is broken an i have no idea why. i checked that all types are represented in the html. so no styled navbar on this page.
// .links, a:link, a:visited {
//     color: black;
//     text-align: center;
//     text-decoration: none;
    // display: inline-block;
    // &:hover {
    //     color: rgb(0, 146, 137);
     // }



  // .links {
  //   margin-left: auto;
  // }